/* Nav style */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.bg-orange{
    background-color: #FD6E0A;
}

.white-1{
    color: #FFFFFF;
}

.dark-1{
    color: #181818;
}

.dark-2{
    color: #474747;
}

.description-dark-3{
    color: #757575;
    font-size: 18px;
}

.soft-bg-color{
    background-color: #FFF8F3;
}

body{
    margin: 0%;
}

.header{
    background-image: url(/images/developer.png), url(/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}


/* navigation style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 230px 0 230px;
    align-items: center;

}
nav h1{
    font-weight:800;
    font-size: 45px;
}
span{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
}
nav ul li button{
    color: #FFFFFF;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}


/* banner with greeting*/
.bannar {
    display: flex;
    flex-direction: row;
    /* margin: 0 380px 0 230px; */
    justify-content: space-between;
    margin: 0 40px 0 220px;
    align-items: center;
    padding-right: 34px;
}
.greating{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: -45px;
}
.greating-name{
    font-size: 85px;
    font-weight: 700; 
    margin-bottom: -10px;
    /* margin-top: -60px; */
}

.greating-description{
    margin-bottom: 20px;
}


/*banner hero button */
.hero-button{
    border-radius: 5px;
    border: none;
    margin-right: 30px;
}
.hero-1{
    padding: 17px 18px;
}
.hero-2{
    padding: 17px 28px;
    border: 1px solid #FD6E0A;
    background-color: transparent;
    color: #FD6E0A;
}


/* three section */
.three-section{
    margin: 130px 230px 130px 230px;
}
.section-titles{
    font-weight: bold;
    font-size: 35px;
}


/* section one */
.section-one{
    /* height: 550px; */
    /* width: 1140px; */
    border-radius: 10px;
    padding: 130px 155px;
    text-align: center;
    margin-bottom: 130px;
}

.about-items{
    display: flex;
    justify-content: space-around;
}
.item-title{
    color: #757575;
    font-size: 20px;
    margin-bottom: -20px;
}

.item-description{
    color: #474747;
    font-weight: bold;
    font-size: 20px;
}


/*  section two */
.section-two-basic-info{
    text-align: center;
    margin-bottom: 50px;
}
.section-two-description{
    margin: 0 115px;
}

.skill-cards{
    display: flex;
    gap: 24px;
    margin-bottom: 130px;
}

.skill-card{
    box-shadow: 2px 2px 20px 2px #f2eeee;
    border-radius: 10px;
    padding: 30px 30px 10px 30px;
}

.card-title{
    color: #181818;
    font-weight: bold;
    font-size: 20px;
}


/* section three - summary of resume */

.text-center{
    text-align: center;
}

.resume-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 50px;
}
.resume-container{
    display: flex;
    gap: 24px;
}

.resume-column-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 30px;
}

.experience-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: -30px;   
}
.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;   
}

.experience-descriptiom{
    font-size: 16px;
    color: #757575;
    margin-bottom: 30px;  
}
.download{
    margin-top: 50px;
    margin-bottom: 113px;
}
.download-button{
    padding: 18px;
    background-color:#FD6E0A ;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
}


/* footer */
.footer{
    display: flex;
    padding: 130px 230px;
    gap: 115px;
}
.footer-column{
    width: 50%;
}
footer div img{
    margin-right: 24px;
}
footer input[type="text"], footer input[type="email"]{
    height: 60px;
    width: 100%;
    display: block;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 18px 30px;
    margin-bottom: 24px;
}

footer textarea{
    height: 180px;
    width: 100%;
    display: block;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 18px 30px;
    margin-bottom: 24px;
}

footer input[type="submit"]{
    padding: 18px 40px;
}